.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_left {
  background-color: white;
  color: grey;

  padding: 10px;
  border-radius: 30px;
  min-width: 70px;
  display: flex;
  align-items: center;
  flex: 0.5;
}

.header_left > input {
  border: none;
  outline: none;
  width: 100%;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right > h4 {
  margin-left: 10px;
}
