.sidebaroption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: color 200ms ease-in;
}

.sidebaroption:hover {
  color: white;
}

.side_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebaroption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
