.sidebar {
  /* height: 100vh; */
  flex: 0.2;
  background-color: #040404;
  min-width: 200px;
  color: white;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}
.side_logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebar > hr {
  width: 90%;
  color: #282828;
  margin: 10px auto;
}

.side_title {
  margin-left: 10px;
  font-size: 12px;
}
